.home_page {
  display: flex;
  flex-direction: column;
}
.white_svg {
  filter: brightness(0) invert(1);
}
/* Category head */
.category_top {
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category_top h1 {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
}
.category_top a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;

  border: 2px solid transparent;
}
.category_top a:hover {
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}
.home_page .header_frame {
  margin-top: 45px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

/* Pagination */
.pagination_wrapper {
  width: 100%;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination_wrapper .pagination_main {
  display: flex;
  flex-direction: row;
}
.pagination_main img:hover {
  cursor: pointer;
}
.pagination_wrapper .pagination_dot {
  display: flex;
  margin: 0 20px;
}
.pagination_dot .dot {
  width: 20px;
  height: 20px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination_dot .dot.active {
  border: 2px solid rgba(17, 33, 55, 1);
}
.pagination_dot .dot span {
  width: 4px;
  height: 4px;
  border-radius: 50%;

  background-color: rgba(17, 33, 55, 1);
}

.header_frame .container {
  width: 1320px;
}
.header_frame .header_left {
  position: relative;
  padding: 101px 17px 33px 15px;
  width: 872px;
  height: 508px;
  background-color: rgba(0, 83, 246, 1);

  display: flex;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
}
.header_frame .header_content {
  display: inline-block;
  width: 428px;
  height: 323px;
}
.header_frame .header_content strong {
  width: 104px;
  height: 30px;
  display: flex;
  align-items: center;

  padding: 4px 14px;

  border-radius: 6px;
  background: rgba(245, 195, 75, 1);

  background-color: rgba(245, 195, 75, 1);
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 13px;
  font-weight: 500;
}
.header_frame .header_content span {
  margin: 0;

  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.1;
}
.header_frame .header_content p {
  margin: 0;
  width: 262.11px;
  height: 56px;

  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 400;
}
.header_frame .header_content div {
  width: 140px;
  height: 52px;
  display: flex;
  padding: 15px 35px;

  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);

  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
}
.header_frame .header_left img {
  position: absolute;
  width: 519.51px;
  height: 407px;
  right: 17px;
  top: 70px;
}
.header_frame .header_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_frame .header_box {
  padding: 50px 0;
  padding-left: 38px;
  position: relative;
  margin-left: 27px;
  width: 422.4px;
  height: 240px;
  background: rgba(242, 242, 242, 1);
  border-radius: 6px;
}
.header_frame .box_left {
  width: 225.69px;
  height: 139px;
  line-height: 1.7;
}
.header_frame .box_left p {
  color: rgba(0, 83, 246, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
}
.header_frame .box_left span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
}
.header_frame .box_left a {
  width: 122.3px;
  height: 27px;
  display: flex;
  flex-direction: column;

  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;

  border: 2px solid transparent;
}
.header_frame .header_box .box_left a:hover {
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}
.header_frame .box_right img {
  width: 236px;
  height: 240px;
  position: absolute;
  bottom: 0px;
  right: 0;
}

.header_box.two .box_right img {
  top: 10px;
}
/* Services Style */
.services_frame {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}
.services_frame .container {
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
.services_frame .service_box {
  width: 263.06px;
  height: 77px;

  display: flex;
  justify-content: space-between;
}
.services_frame .box_icon img {
  width: 33px;
  height: 35px;
}
.services_frame .box_info {
  width: 216.06px;
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services_frame .service_box strong {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
}
.services_frame .service_box span {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
}
/* Category Style */
.shop_category_frame {
  margin-top: 90px;

  display: flex;
  justify-content: center;
}
.shop_category_frame .container {
  display: flex;
  flex-direction: column;
}
.shop_category_frame .category_top {
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop_category_frame .category_top h1 {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
}
.shop_category_frame .category_top a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;

  border: 2px solid transparent;
}
.shop_category_frame .category_top a:hover {
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}
.shop_category_frame .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: 250px;
}
.shop_category_frame .category_wrapper .container {
  flex-direction: row;
  justify-content: space-between;
}
.shop_category_frame .category_box {
  width: 142.55px;
  height: 249px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.shop_category_frame .category_img {
  width: 142px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 150px;
  background: rgba(255, 255, 255, 1);
}
.shop_category_frame .category_content {
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop_category_frame .category_content span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
/* Selling Products style */
.selling_products_frame {
  position: relative;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.selling_products_frame .products_wrapper {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products_wrapper .next_products img:hover {
  cursor: pointer;
}
.selling_products_frame .container {
  display: flex;
  flex-direction: column;
}
.selling_products_frame .products_frame {
  display: flex;
  justify-content: space-between;
}
.selling_products_frame .products_card {
  width: 306px;
  height: 452px;
}
.selling_products_frame .product_hover {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 52px;

  display: flex;
  justify-content: center;
  background-color: rgba(0, 83, 246, 1);

  border-radius: 5px;

  visibility: hidden;
}
.selling_products_frame .product_hover button {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;

  border: none;
  outline: none;
  background: transparent;
}
.selling_products_frame .product_img {
  position: relative;
  width: 294px;
  height: 280px;
}
.selling_products_frame .products_card:hover .product_hover {
  visibility: visible;
  transition: 0.3s;
}
.selling_products_frame .product_img img {
  width: 100%;
  height: 100%;
}
.selling_products_frame .product_info {
  width: 263.97px;
  height: 148.5px;
  padding: 10px;
}
.selling_products_frame .product_brand {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.selling_products_frame .product_title {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}
.selling_products_frame .review {
  width: 170.38px;
  height: 22px;
}
.selling_products_frame .review span {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
}
.selling_products_frame .product_price b {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
}
.selling_products_frame .product_price span {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}
.swiper-button-prev {
  left: 160px;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #1b2636;
}

.swiper-pagination-bullet-active {
  width: 22px;
  height: 22px;
  border: 3px solid #1b2636;
  background: transparent;
  position: relative;
  top: 6.5px;
}

.swiper-pagination-bullet-active::after {
  content: "";
  width: 6px;
  height: 6px;
  background: #1b2636;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.adv_frame {
  margin: 90px 0;
  width: 100%;
  height: 120px;

  background-color: rgba(229, 237, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(0, 83, 246, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 18px;
  font-weight: 400;
}
/* Space product wrapper */
.spac_product_frame {
  width: 100%;
  display: flex;
  justify-content: center;
}
.spac_product_frame .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.spac_product_frame .spac_product_wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.spac_product_wrapper .big_product_box {
  position: relative;
  padding: 30px;
  width: 1200px;
  height: 368px;
  background-color: rgba(243, 245, 246, 1);

  display: flex;
  align-items: flex-end;
}
.big_product_box .product_info {
  width: 161.81px;
  height: 139px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.big_product_box .product_info span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
}
.big_product_box .product_info p {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
}
.big_product_box .product_info a {
  width: 122.3px;
  height: 27px;
  display: flex;
  flex-direction: column;

  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;

  border: 2px solid transparent;
}
.big_product_box .product_info a:hover {
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}
.big_product_box img {
  position: absolute;
  right: 5px;
  width: 322.45px;
  height: 309px;
}
.spac_product_frame .small_product_wrapper {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 30px;
}
.small_product_wrapper .small_product_box {
  position: relative;
  padding: 30px;
  width: 293.14px;
  height: 170px;

  background-color: rgba(243, 245, 246, 1);
}
.small_product_wrapper .small_product_box .product_info {
  height: 51px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.small_product_wrapper .small_product_box .product_info b {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
}
.small_product_box .product_info span {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
}
.small_product_wrapper .small_product_box img {
  position: absolute;
  width: 85.6px;
  right: 30px;
  bottom: 30px;
}
.small_product_box.col img {
  width: 140px;
}
.small_product_box:nth-child(odd) {
  margin-right: 30px;
}

/* Theatre */
.theatre_frame {
  margin-top: 80px;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}

.theatre_frame .category_top div {
  width: 500.46px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
}
.theatre_frame .products_wrapper {
  width: 100%;
  height: 452px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products_wrapper .next_products img:hover {
  cursor: pointer;
}
.theatre_frame .container {
  display: flex;
  flex-direction: column;
  width: 1300px;
}
.theatre_frame .products_frame {
  display: flex;
  justify-content: space-between;
}
.theatre_frame .products_card {
  width: 250px;
  height: 452px;
}
.theatre_frame .product_img {
  position: relative;
  padding: 10px;
  width: 249.82px;
  height: 280px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.theatre_frame .product_img img {
  width: 212.81px;
  height: 230px;
}
.theatre_frame .product_info {
  padding: 0 10px;
  width: 222.06px;
  height: 148.5px;
}
.theatre_frame .product_brand {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.theatre_frame .product_title {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}
.theatre_frame .review {
  width: 170.38px;
  height: 22px;
}
.theatre_frame .review span {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.theatre_frame .product_price b {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
}
.theatre_frame .product_price span {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}
/* Deals Frame */
.deals_frame {
  width: 100%;
  height: 632px;

  background-image: url("../images/icons/event_bg.png");
  background-color: rgba(0, 83, 246, 1);
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.deals_frame .deals_wrapper {
  width: 1300px;
  height: 392px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deals_wrapper .deals_info {
  width: 334px;
  height: 214px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.deals_wrapper .deals_info > span {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
}
.deals_wrapper .time_box {
  width: 334px;
  height: 62px;

  display: flex;
  justify-content: space-between;
}
.deals_wrapper .time_box div {
  width: 52.41px;
  height: 62px;
}
.deals_wrapper .time_box div h1 {
  margin: 0;
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
}
.deals_wrapper .time_box div p {
  margin: 0;
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
}
.deals_wrapper .deals_info a {
  width: 141.79px;
  height: 52px;
  display: flex;
  flex-direction: row;
  padding: 15px 35px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 14px;
  font-weight: 500;
}
.deals_frame .products_wrapper {
  width: 930.64px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deals_frame .next_products img:hover {
  cursor: pointer;
}
.deals_frame .container {
  display: flex;
  flex-direction: column;
  width: 1300px;
}
.deals_frame .products_frame {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.deals_frame .products_card {
  width: 205px;
  padding-left: 3px;
  height: 392px;
  background-color: white;

  border-radius: 6px;
}
.deals_frame .product_img {
  position: relative;
  width: 194.66px;
  height: 220px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.deals_frame .product_img img {
  /* image 30 */
  width: 168.11px;
  height: 190px;
}
.deals_frame .product_info {
  padding: 0 10px;
  height: 150.5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.deals_frame .product_brand {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.deals_frame .product_title {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
}
.deals_frame .review {
  width: 153.78px;
  height: 22px;
}
.deals_frame .review span {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
}
.deals_frame .review img {
  width: 11px;
  height: 11px;
}
.deals_frame .product_price b {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
}
.deals_frame .product_price span {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}
/* Footer style
.footer_frame {
  width: 100%;
  height: 507px;

  background: rgba(243, 245, 246, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_frame .container {
  padding-top: 50px;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.footer_frame .footer_top {
  width: 100%;
  height: 246px;

  display: flex;
  justify-content: space-between;
}
.footer_top .contact_us {
  width: 285px;
  height: 194px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_top .footer_title {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
}

.footer_top .contact_banner {
  width: 285px;
  height: 138px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact_banner .contact_icon {
  width: 32px;
  height: 30px;
}
.contact_banner .contact_info {
  width: 210px;
}
.contact_info b {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
}
.contact_info span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
}
.footer_top .customer_support {
  width: 193.67px;
  height: 246.1px;
}
.footer_top .customer_support ul {
  padding: 0;
}
.footer_top .customer_support ul li {
  list-style-type: none;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
}
.footer_top .services {
  width: 193.67px;
  height: 246.1px;
}
.footer_top .services ul {
  padding: 0;
}
.footer_top .services ul li {
  list-style-type: none;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
}
.footer_top .social_network {
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_top .follow_us {
  width: 154.91px;
  height: 61.57px;
}
.follow_us .social_icons {
  width: 154.91px;
  height: 15.57px;

  display: flex;
  justify-content: space-between;
}
.social_icons i {
  color: rgba(4, 30, 66, 1);

  font-family: Font Awesome 5 Brands;
  font-style: Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
.social_icons i:hover {
  cursor: pointer;
}
.footer_top .mobile_apps {
  width: 163.91px;
  height: 116px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile_apps .mobile_name {
  width: 163.91px;
  height: 80px;
}
.mobile_name span {
  margin-left: 20px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
.mobile_name img {
  width: 24.28px;
  height: 16px;
}
.footer_top .payments {
  margin-top: 140px;
  width: 272.02px;
  height: 69.53px;
}
.footer_frame .footer_bottom {
  margin-top: 50px;
  width: 100%;
  height: 61px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
}
.footer_bottom .footer_bottom_left {
  display: flex;
}
.footer_bottom_left .copyright {
  width: 300px;
  height: 40px;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.footer_bottom_left .privacy {
  width: 200px;
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_bottom_left .privacy div {
  width: 4px;
  height: 4px;
  background-color: rgba(17, 33, 55, 1);
  border-radius: 50%;
}
.footer_bottom_left .privacy a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
}
.footer_bottom_right {
  display: flex;
}
.footer_bottom_right .currensy {
  margin-right: 20px;
  width: 187.77px;
  height: 40.1px;

  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_bottom_right .currensy select {
  width: 80%;
  border: none;
  outline: none;
}

.footer_bottom_right .language {
  margin-right: 20px;
  width: 187.77px;
  height: 40.1px;

  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_bottom_right .language select {
  width: 80%;
  border: none;
  outline: none;
} */
