.login_page .container {
  padding: 30px 50px;
  width: 744px;
  height: 831px;
}

.login_page .container .login_head {
  margin: 0;
}
.login_page .container .login_content form {
  height: 675.58px;
  gap: 0;
}
.login_page .container form label {
  font-size: 16px;
}
.login_page .container form .username input {
  height: 56.99px;

  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
}

form > p,
form > span,
form > button {
  margin-top: 20px;
}
footer {
  border-top: 1px solid;
}
